.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 2rem;
}

.channel-box {
    height: calc(100vh - 1.25rem);
}

.message-box {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 1.25rem);
}

.message-content {
    flex-grow: 1;
    overflow: scroll;
}

.typing-box {
    flex-grow: 0;
}

.search-box {
    height: calc(100vh - 1.25rem);
}

/*div.channel-list > ul li{*/
/*    cursor: pointer;*/
/*}*/